{
  "APPWRITE_ENDPOINT": "https://fra.cloud.appwrite.io/v1",
  "APPWRITE_PROJECT_ID": "",
  "APPWRITE_DATABASE_ID": "cradi",
  "APPWRITE_PUSH_PROVIDER_ANDROID": "",
  "APPWRITE_PUSH_PROVIDER_IOS": "",
  "APPWRITE_IMAGE_TRANSFORMS": "false",
  "SENTRY_DSN": ""
}
